<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>


            <div class="back">
                <div class="card-container-for-homepage">
                    <%- include('./card.ejs') %>
                </div>
            </div>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>