body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(42, 42, 42), black);
    overflow: scroll;
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}

ul{
    text-align: left;
    margin: 2px;
}


.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
    width: 100%;
    justify-content: end;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    transition: 1s;
    margin-right: 10px;
}
.homebtn{
    position: absolute;
    left: 5px;
    top: 5px;
}

.navbar a:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

li{
    margin-top: 10px;
}
.dropbtn{
    transition: 1s ease;
    z-index: 1;
}
.dropbtn:hover{
    transition: 1s ease;
    cursor: pointer;
}
.content{
    margin-top: 70%;
}


.segment {
    width: 50%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: -140px;
    z-index: 0;
}

.top-left {
    animation: slideInFromTopLeft 2s forwards;
    animation-delay: 1s;
}

.top-right {
    animation: slideInFromTopRight 2s forwards;
    animation-delay: 1s;
}

.bottom-left {
    animation: slideInFromBottomLeft 2s forwards;
    animation-delay: 1s;
}

.bottom-right {
    animation: slideInFromBottomRight 2s forwards;
    animation-delay: 1s;
}

@keyframes slideInFromTopLeft {
    0% {
        transform: translate(-100%, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
        background-color: aqua;
        background-image: url(/default/js.jpg);
        background-position: left;
        background-size: cover;
    }
}

@keyframes slideInFromTopRight {
    0% {
        transform: translate(100%, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
        background-color: pink;
        background-image: url(/default/node.png);
        background-position: left;
        background-size: cover;
    }
}

@keyframes slideInFromBottomLeft {
    0% {
        transform: translate(-100%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
        background-color: gray;
        background-image: url(/default/express.jpeg);
        background-position: left;
        background-size: cover;
    }
}

@keyframes slideInFromBottomRight {
    0% {
        transform: translate(100%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
        background-color: rebeccapurple; 
        background-image: url(/default/ss.png);
        background-position: top;
        background-size: cover;
    }
}

.content {
    padding: 20px;
    text-align: center;
}
