.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .projectimage {
    padding: 20px;
    font-size: medium;
    border-radius: 5%;
    margin-top: 10px;
    width: 20%;
    margin-bottom: 10px;
  }

  .heading {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    color: wheat;
  }

  .projecturl {
    background: transparent;
    border: 2px solid white;
    width: 25%;
    margin-bottom: 10px;
  }

  .add-blog-container {
    background: linear-gradient(89deg, black, #2a2a2a)
  }

  .add-blog-input {
    background: linear-gradient(90deg, #5f5a5a, black);
  }
  
  .add-blog-input::-webkit-input-placeholder{
    color: wheat;
  }

  .add-blog-input-file-and-button {
    background: linear-gradient(90deg, #5f5a5a, black);
    color: wheat;
    
  }
  .addbtn{
    background: linear-gradient(90deg, #5f5a5a, black);
    width: 19%;
    height: 35px;
    border-radius: 25px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;

  }